<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>PATH</key>
	<string>/usr/local/bin:/bin:/sbin:/usr/bin:/usr/local/mysql/bin</string>
	<key>CVSEDITOR</key>
	<string>mate -w</string>
	<key>CVSROOT</key>
	<string>/Users/james/Documents/cvs-rep</string>
	<key>CVS_RSH</key>
	<string>ssh</string>
	<key>SVN_EDITOR</key>
	<string>mate -w</string>
</dict>
</plist>
